<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>投稿を編集</h2>
      <%= form_with model: @post, url: post_path, method: :patch, local: true do |f| %>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :post_image, "写真" %>
          <%= f.file_field :post_image, class: "form-control-file", accept: 'post_image/*' %>
        </div>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :title, "タイトル" %>
          <%= f.text_field :title, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= image_tag 'Dogs-logo2.PNG', style: "width: 20px;" %>
          <%= f.label :body, "内容" %>
          <%= f.text_area :body, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit "編集する",class: 'btn btn-outline-secondary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>