<div class="container">
  <div class="row">
    <div class="mx-auto col-10">
      <h2>投稿一覧</h2>
    </div>
  </div>
  <div class="card-deck">
    <% @posts.each do |post| %>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <%= link_to member_path(post.member.id) do %>
              <%= image_tag post.member.get_profile_image, size: "30x30" %>
            <% end %>
          </div>
          <% if post.post_image.present? %>
            <div class="card-img-top">
              <%= link_to post_path(post.id) do %>
                <%= image_tag post.post_image, size: "180x230" %>
              <% end %>
            </div>
          <% end %>
          <div class="card-body">
            <div class="mb-3" id="like_<%= post.id %>"><%= render "public/likes/like", post: post %></div>
            <%= link_to post_path(post.id) do %>
              <h5 class="card-title"><%= post.title %></h4>
            <% end %>
            <p class="card-text"><%= post.body.truncate(50) %></p>  <!--50字まで表示-->
          </div>
          <div class="card-footer">
            <%= render 'time', post: post %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>