<div class="container">
  <div class="row mb-3">
    <div class="mx-auto col-10">
      <h2>投稿詳細</h2>
      <p id="notice"><%= notice %></p>
    </div>
  </div>
  <div class="row mb-3">
    <div class="mx-auto col-8">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <div class="float-left">
            <%= link_to member_path(@post.member.id) do %>
              <%= image_tag @post.member.get_profile_image, size: "40x40" %>
            <% end %>
          </div>
          <div class="float-right">
            <%= link_to edit_post_path(@post.id), class: "btn btn-outline-secondary" do %>
              <i class="fas fa-pen-to-square"></i>
            <% end %>
            <%= link_to post_path, method: :delete, data: { confirm: "本当に消しますか？" }, class: "btn btn-outline-danger" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
        <% if @post.post_image.present? %>
          <div class="card-img-top">
            <%= link_to post_path(@post.id) do %>
              <%= image_tag @post.post_image, size: "300x375" %>
            <% end %>
          </div>
        <% end %>
        <div class="card-body">
          <div class="mb-3" id="like_<%= @post.id %>"><%= render "public/likes/like", post: @post %></div>
          <h3 class="card-title"><%= @post.title %></h3>
          <p class="card-text" style="font-size: 20px;" ><%= @post.body %></p>
        </div>
        <div class="card-footer">
          <%= render 'time', post: @post %>
        </div>
      </div>
    </div>
  </div>
</div>