<div class="container">
  <div class="row">
    <div class="col-4">
      <table class="table">
        <tr><%= image_tag @member.get_profile_image, size: "100x100" %></tr>
        <tr style="text-align: center;">
          <th>投稿<br><%= @member.posts.count %></th>
          <th>
            <%= link_to member_followings_path(@member.id), :style=>"color: #000;" do %>
              フォロー<br><%= @member.followings.count %>
            <% end %>
          </th>
          <th>
            <%= link_to member_followers_path(@member.id), :style=>"color: #000;" do %>
              フォロワー<br><%= @member.followers.count %>
            <% end %>
          </th>
        </tr>
        <tr>
          <th>ニックネーム</th>
          <th colspan="2"><%= @member.name %></th>
        </tr>
        <tr>
          <th>自己紹介</th>
          <th colspan="2"><%= @member.introduction %></th>
        </tr>
      </table>
      <% if current_member == @member %>
        <%= link_to edit_member_path(@member.id), class: "btn btn-outline-secondary btn-block" do %>
          <i class="fas fa-user-edit"></i>プロフィールを編集
        <% end %>
      <% end %>
    </div>
    <div class="col-8">
    この人の投稿一覧（カード形式）
    </div>
  </div>
</div>