<!DOCTYPE html>
<html>
  <head>
    <title>Dogs</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--管理者のログイン状況でヘッダーが分岐-->
    <!--管理者ログイン時-->
    <% if admin_signed_in? %>
      <%= render 'admin/layouts/header' %>
      <!--管理者ログアウト時-->
    <% else %>
      <%= render 'layouts/header' %>
    <% end %>
    <main>
    <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
  </body>
</html>
